<h2>Cambiar Contraseña</h2>
<form action="/api/sessions/change_password" method="POST">
<label for="passowrd">New Password:</label>
  <input type="password" name="password" required />
  <input type="hidden"   name="userID" value={{userID}}>
  <button type="submit">Cambiar Contraseña</button>
</form>